:root {
    --poz-x: 0;
    --poz-y: 0;
}

.drag {
    left: var(--poz-x);
    top: var(--poz-y);
    display: inline-block;
    position: absolute;
    z-index: 99999;
    background-color: rgb(199, 210, 218);
}